tr[class="read"] {
  background-image: linear-gradient(to right, #e0ffe8, #ffffff);
}


tr[class="to-read"] {
  background-image: linear-gradient(to right, #00ffe8, #ff22ff);
}

tr[class="in-progress"] {
  background-image: linear-gradient(to right, #fee8, #1222ff);
}

span {
  display: inline-block;
}

tr[class="to-read"] span[class="status"] {
  border: 1px solid #b8860b;
  background-image: linear-gradient(to bottom, #dd98e0, #ffe9a6);
}

tr[class="read"] span[class="status"] {
  border: 1px solid #b8860b;
  background-image: linear-gradient(to bottom, #123, #345);
}

tr[class="in-progress"] span[class="status"] {
  border: 1px solid #b8860b;
  background-image: linear-gradient(to bottom, #456, #890);
}

span[class="status"], span[class^="rate"] {
  height: 100px;
  width: 90px;
  padding: 50px;
}

span[class^="rate"] > span {
  border: 1px solid #999;
  border-radius: 50%;
  margin: 50px;
  height: 30px;
  width: 20px;
  background-color: yellow;
}

span[class~="one"] > span:first-child {
  background-image: linear-gradient(to bottom, #ffd700, #ffae00);
}

span[class~="two"] > span:nth-child(-n+2) {
  background-image: linear-gradient(to bottom, #ffd700, #ffae00);
}

span[class~="three"] > span {
  background-image: linear-gradient(to bottom, #ffd700, #ffae00);
}

