form {
  box-shadow: 0 0 1px 1px gray;
}

input:focus, textarea:focus {
  border-color: blue;
}

input:invalid, select:invalid, textarea:invalid {
  border-color:red;
}

input:valid, select:valid, textarea:valid {
  border-color: green;
}

button:hover {
  background-color: midnightblue;
}

.radio-group input[type="radio"]:checked {
  border-color:green;
  background-color: yellow;
  box-shadow: 0 0 5px 2px rgb(80, 120, 255);
}

.radio-group input[type="radio"]:checked + label {
  color: rgb(49, 110, 255); 
}

input:first-of-type {
  background-color:orange;
  border-radius: 12px;
}
