body {
  background-color: #f4f4f4;
}

.color-box {
  width: 50px;
  height: 50px;
}

.color1 {
  background-color: #454545;
}

.color2 {
  background-color: rgb(45, 72, 190);
}

.color3 {
  background-color: yellow;
}

.color4 {
  background-color: hsl(99, 50%, 23%);
}

.color5 {
  background-color: green;
}
