#playing-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.left {
  align-self: flex-start;
}

.middle {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.right {
  align-self: flex-end;
}
